.menu
    button.close_menu_btn
    ul.accordion-menu
        li
            .dropdown
                | About US
                i.fa.fa-chevron-down
            ul.menu-items
                li
                    a(href='blogpage.html') About
                li
                    a(href='#') What We Do
                li
                    a(href='#') Project
                li
                    a(href='#') How It Work
        li
            .dropdown
                | Follow US
                i.fa.fa-chevron-down
            ul.menu-items
                li
                    a(href='#') About
                li
                    a(href='#') What We Do
                li
                    a(href='#') Project
                li
                    a(href='#') How It Work