$PrimaryColor: purple;
$secondaryColor: blue;
@media screen and (max-width: 1250px) {
    body{
        min-width: 1250px;
        margin: 0;
    }
}
@media screen and (min-width: 1250px) {
    body{
        width: 100%;
        margin: 0;
        .part1{
            height: 100vh;
        }
    }
}