.footer
    .footer_part1
        .footer_text1
            .footer_title1 Intersted to woek with our team?
            .footer_title2 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        button.footer_btn Let's Talk
    .line
    .footer_part2
        //Afrianska
        .footer_text2
            .footer_logo
                img(src=require('../../images/page_index/logo2.png'))
            .footer_title3 Afrianska
            .footer_title4 A.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .footer_title4 T.  +62-812-7313-4321
            .footer_title4 E.  hello.afrian@gmail.com
        //About Us
        .footer_text3
            .footer_title5 About US
            a.footer_title6(href='#') About
            a.footer_title6(href='#') What We Do
            a.footer_title6(href='#') Project
            a.footer_title6(href='#') How It Work With Us
        //Follow Us
        .footer_text4
            .footer_title5 Follow US
            a.footer_title6(href='#') Instagram
            a.footer_title6(href='#') Facebook
            a.footer_title6(href='#') LinkedIn
            a.footer_title6(href='#') Youtube
        //footer
        a(href='#').footer_text5 2019 © Afrianska. All rights reserved.